.hero-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin: 0 35px;
  font-family: "Raleway", sans-serif;
}

.hero-left {
  grid-column: 1/-1;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 15px;
  margin-top: 50px;
}

.hero-right {
  grid-column: 1/-1;
}

.hero-right img {
  width: 100%;
}
