footer {
  background-color: var(--color-primary);
  display: flex;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  width: 100%;
}

footer p {
  font-weight: var(--weight-regular);
  font-size: var(--header-caption);
  color: white;
}

@media (min-width: 1000px) {
  footer {
    padding: 0 70px;
  }
}