@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Raleway", sans-serif;
}

:root {
  --header-one: 98px;
  --header-two: 61px;
  --header-three: 49px;
  --header-four: 35px;
  --header-five: 24px;
  --header-body: 16px;
  --header-caption: 12px;

  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  --color-primary: #de8667;
  --color-alternative: #efb467;
  --color-dark: #322d38;
  --gradient: linear-gradient(to top right, #de8667, #efb467);
  --shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

body {
  font-family: "Raleway", sans-serif;
  font-size: var(--header-body);
  font-weight: var(--weight-bold);
}
